@using Session = LMUSessionTracker.Server.Models.Session
@model IndexViewModel
@{
    ViewData["Title"] = "Sessions";
}

<h3>Sessions</h3>
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>Start time</th>
                <th>Track</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Session session in Model.Sessions) {
                <tr>
                    <td><a asp-action="Session">@session.Timestamp.ToString("yyyy-MM-dd HH:mm")</a></td>
                    <td>@session.TrackName</td>
                    <td>@session.SessionType</td>
                </tr>
            }
        </tbody>
    </table>

