:host {
	--lmu-hy: #e21e19;
	--lmu-p2: #005096;
	--lmu-p2e: #e95b0c;
	--lmu-p3: #411c52;
	--lmu-gte: #f08c00;
	--lmu-gt3: #009639;
}

.class-badge {
	border-radius: 3px;
	border-style: solid;
	border-width: 2px;
	background-color: white;
	padding: 0px 3px;
	font-weight: bold;
	width: 3rem;
}

.class-badge-hy {
	border-color: var(--lmu-hy);
	color: var(--lmu-hy);
}

.class-badge-p2 {
	border-color: var(--lmu-p2);
	color: var(--lmu-p2);
}

.class-badge-p2e {
	border-color: var(--lmu-p2e);
	color: var(--lmu-p2);
}

.class-badge-p3 {
	border-color: var(--lmu-p3);
	color: var(--lmu-p3);
}

.class-badge-gte {
	border-color: var(--lmu-gte);
	color: var(--lmu-gte);
}

.class-badge-gt3 {
	border-color: var(--lmu-gt3);
	color: var(--lmu-gt3);
}
