html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.team-col {
	max-width: 10rem;
}

.driver-col {
	max-width: 8rem;
}

:root {
	/*from --bs-nav-link-padding-y*/
	--tab-header-pb: .5rem;
	/*from --bs-nav-tabs-border-width*/
	--tab-header-mb: 1px;
}

.inline-tab-header {
	padding-bottom: calc(var(--tab-header-pb) - var(--tab-header-mb));
	margin-bottom: calc(-1 * var(--tab-header-mb));
}

.best-class {
	color: #c29ffa !important;
}

.best-car {
	color: #6ea8fe !important;
}

.best-driver {
	color: #79dfc1 !important;
}

.btn-icon {
	display: block;
	padding: .25em;
	line-height: 1;
	color: #dee2e6;
	background: none;
	border: 0;
	border-radius: .25rem;
}

.btn-icon:hover {
	color: #8bb9fe;
}

button.btn-icon.dropdown-toggle::after {
	content: none !important;
}

.bi {
	width: 1em;
	height: 1em;
	vertical-align: -.125em;
	fill: currentcolor;
}
