:host {
	--compact-font-size: 10px;
}

.compact-timing-container {
	min-height: 10em;
}

.compact-timing, .compact-info {
	font-size: var(--compact-font-size) !important;
	font-family: monospace !important;
}

.compact-timing td, .compact-timing th {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 13px;
}

.compact-timing td .car-dropdown > button, .compact-timing th > button {
	font-size: calc(var(--compact-font-size) - 2px);
}

.compact-timing td .dropdown-menu {
	font-size: var(--compact-font-size) !important;
	padding: .5em 0;
}

.compact-timing td .dropdown-menu .dropdown-item {
	padding: .25em 1em;
}

.char2-col {
	min-width: 28px;
}

.char5-col {
	min-width: 58px;
}

.char7-col {
	min-width: 78px;
}
