<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[LMUSessionTracker.Core]LMUSessionTracker.*</Exclude> 
          <Include>[LMUSessionTracker.Server]LMUSessionTracker.*,[LMUSessionTracker.Server.Tests]LMUSessionTracker.*</Include> 
          <ExcludeByAttribute></ExcludeByAttribute>
          <ExcludeByFile></ExcludeByFile> 
          <IncludeDirectory></IncludeDirectory>
          <SingleHit>false</SingleHit>
          <UseSourceLink>false</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>false</DeterministicReport>
          <ExcludeAssembliesWithoutSources>MissingAll,MissingAny,None</ExcludeAssembliesWithoutSources>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
